@import '../../variables/mixins';
@import '../../variables/_colors.scss';

.header 
{   
    display: flex;
    margin-top: 17px;
    padding: 0 48px 0 60px;
    &__menu 
    {
        display: flex;
        align-items: center;
        width: 100%;
    }
    &__logo 
    {
        height: 81px;
        svg 
        {
            color: $color-light-violet;
        }
    }
    &__main-information 
    {
        display: flex;
        justify-content: space-between;
        width: 513px;
        column-gap: 32px;
        font-size: 16px;
        margin-left: 23.68%;
        // margin-right: 20.48%;
        margin-right: 14.41%;
        font-weight: 500;
        white-space: nowrap;
    }
    &__company, &__services, &__community, &__pricing
    {
        display: flex;
    }
    &__company-arrow, &__services-arrow, &__community-arrow, &__pricing-arrow
    {
        height: 25px;
        margin-left: 2px;
        svg 
        {
            margin-top: 3px;
            cursor: pointer;
        }
    }
    &__group
    {
        display: flex;
        align-items: center;
        padding: 0 16px;
        width: 305px;
        height: 62px;
        border-radius: 50px;
        border: 1px solid $color-violet;
        white-space: nowrap;
        cursor: pointer;
    }
    &__group:hover
    {
        background: linear-gradient(to right,
                    #8833FF 0%,
                    #6953D3 100%,
                    #8363F4 100%,
                    #8349FC 100%,
                    #8833FF 100%);
    }
    &__group:hover &__static-text
    {
        color: $color-white;
    }
    &__group:hover &__active-text
    {
        background: linear-gradient(90deg, #E5D6FF 18.14%, #FFF 34.91%, #DFCCFF 56.54%, #F3EEFC 72.88%, #E7D9FF 93.63%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__wrapper-text 
    {
        display: flex;
        align-items: center;
        width: 305px;
        
        font-size: 28px;
        font-weight: 500;
    }
    &__sign-in
    {
        display: flex;
        margin-right: 24px;
        height: 25px;
        cursor: pointer;
    }
    &__sign-in-image  
    {
        color: $color-light-purple;
    }
    &__sign-in:hover &__sign-in-text 
    {
        color: $color-violet;
    }
    &__sign-in:hover &__sign-in-image
    {
        color: $color-violet;
    }
    &__sign-in-text 
    {
        color: $color-light-purple;
        font-size: 16px;
        margin-right: 6px;
        font-weight: 500;
        width: 56px;
    }
    &__static-text 
    {
        margin-right: 6px;
        color: $color-dark;
    }
    &__active-text 
    {
        background: $color-blue-violet;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        overflow: hidden;
        white-space: nowrap;
    }
}