
.buttons 
{   margin-top: 155px;
    position: absolute;
    bottom: 110px;
    transition-duration: 0.8s ;
    
    button 
    {
        border:none;
        padding: 0;
        font-size: 28px;
        cursor: pointer;
        border-radius: 50px;
    }
    &__warranties 
    {
        position: absolute;
        bottom: -70px;
        width: 239.603px;
        left: 160px;
        height: 60px;
        transform: rotate(-1deg);
        background: linear-gradient(173deg, #FFE3D3 10.64%, #FFC3A1 94.49%);
    }
    &__sla 
    {
        position: absolute;
        width: 239.603px;
        height: 60px;
        bottom: -10px;
        left: 320px;
        transform: rotate(1deg);
        background: linear-gradient(173deg, #D3D5FF 10.64%, #BAA1FF 94.49%);
    }
    &__contacts 
    {
        position: absolute;
        width: 191.438px;
        left: 450px;
        bottom: -71px;
        height: 60px;;
        transform: rotate(0.83deg);
        background: linear-gradient(173deg, #D9FFD3 10.64%, #AEFFA1 94.49%);
    }
    &__terms-condtions
    {
        position: absolute;
        width: 372px;
        height: 60px;
        left: 706px;
        bottom: -36px;
        transform: rotate(-12.78deg);
        background: linear-gradient(173deg, #FFD3EB 10.64%, #FFA1B8 94.49%);
    }
    &__agreements 
    {
        position: absolute;
        width: 269.616px;
        height: 60px;
        left: 980px;
        bottom: -70px;
        transform: rotate(-0.62deg);
        background: linear-gradient(173deg, #FFF5D3 10.64%, #FCB370 94.49%);
    }
}