@import '../../../../common/variables/colors';
.trashBasket__wrapper-list::-webkit-scrollbar 
{
    display: block;
    width: 5px;
    
}
::-webkit-scrollbar-thumb
{
    background-color: #E2E2FF;
}
.trashBasket
{
    width: 414px;
    height: 852px;
    margin: 30px auto;
    padding: 19px 0px 24px 0px;
    background: linear-gradient(180deg, #FCFCFF 0%, #EEF 100%);
    border-radius: 12px;
    
    &__menu
    {
        display: flex;
        align-items: center;
        padding: 0 22px 0 24px;
    }
    &__wrapper 
    {
        margin-top: 24px;
        height: 565px;
        overflow: hidden;
    }
    &__wrapper-list 
    {
        display: flex;
        flex-direction: column;
        gap: 18px;
        height: 565px;
        margin-right: 4px;
        overflow: auto;
    }
    &__selected-country
    {
        padding: 0 14px 0 24px;
    }
    &__arrow-back
    {
        // position: absolute;
        color: rgba(173, 171, 255, 1);
        cursor: pointer;
        height: 18px;
    }
    &__delete-all, &__trash-can
    {
        border: none;
        padding: 0;
        background: transparent;
    }
    &__group-remove 
    {
        display: flex;
        align-items: center;
    }
    &__delete-all
    {
        color: #ADABFF;
        font-family: 'Roboto';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        margin-left: 238.13px; 
        margin-right: 4px;
        height: 18px;
        cursor: pointer;
    }
    &__trash-can
    {
        height: 24px;
        color: #ADABFF;
        cursor: pointer;
    }
    &__header 
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left-column-header
    {
        display: flex;
        align-items: center;
    }
    &__title 
    {
        font-family: 'Roboto';
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
    }
    &__type-rooms
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 14px;
    }
    &__name-type 
    {
        color:  #BABABA;
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 400;
        line-height: 18px; 
    }
    &__increase, &__decrease 
    {
        color:rgba(173, 171, 255, 1);
        width: 24px;
        height: 24px;
    }
    &__increase,  &__decrease
    {
        cursor: pointer;
    }
    &__number, &__price, &__name-type 
    {
        user-select: none;
    }
    &__number 
    {
        color: $color-light-violet;
        text-align: center;
        width: 30px;
        font-family: 'Poppins';
        font-size: 18px;
        font-weight: 700;
        line-height: 140%;
    }
    &__price 
    {
        color: $color-light-violet;
        text-align: right;
        font-family: 'Poppins';
        font-size: 18px;
        font-weight: 500;
        line-height: 18px; 
        text-transform: capitalize;
        margin-left: 28px;
    }
    &__icon 
    {
        margin-right: 7px;
    }
    &__right-column-body 
    {
        display: flex;
        align-items: center;
    }
    &__counter 
    {
        display: flex;
        align-items: center;
    }
    &__line 
    {
        width: 366px;
        margin-top: 16px;
        hr 
        {
            margin: 0;
            height: 1px;
            border: none;
            background: rgba(173, 171, 255, 0.30);
        }
    }
    &__footer 
    {
        position: fixed;
        bottom: 54px;
    }
    &__amount, &__discount, &__total
    {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
        font-family: 'Poppins';
        line-height: 140%;
        padding: 0 22px 0 24px;
    }
    &__amount
    {
        font-weight: 500;
        color: $color-dark;
    }
    &__amount-text, &__discount-text 
    {
        font-size: 14px;
    }
    &__amount-price, &__discount-price 
    {
        font-size: 16px;
    }
    &__discount 
    {
        font-weight: 500;
        color: #06D665;
    }
    &__total
    {
        font-size: 24px;
        font-weight: 600;
        color: $color-dark;
    }
    &__buy-now
    {
        width: 390px;
        height: 48px;
        padding: 0;
        border: none;
        margin: 0 12px;
        border-radius: 24px;
        background: #7B76FF;
        color: var(--White, #FDFEFF);
        text-align: center;
        font-family: 'NunitoSans';
        font-size: 28px;
        font-weight: 600;
        line-height: 16px;
        cursor: pointer;
    }
}