.business
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 138px;
    &__title
    {
        display: flex;
        align-items: center;
        font-size: 84px;
        font-family: 'Inter';
        font-weight: 400;
        line-height: 84px;
        margin: 0;
    }
    &__voip 
    {
        display: flex;
        align-items: center;
        margin: 0 20px;
        font-family: 'MvBoli';
        font-weight: 400;
        width: 207px;
        height: 114px;
        flex-shrink: 0;
        border-radius: 6px;
        border: 1px solid var(--Violet, #83F);
        font-size: 84px;
        line-height: 84px;
    }
    &__xcloud 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 719px;
        height: 114px;
        margin-left: 16px;
        font-family: 'MvBoli';
        font-weight: 400;
        border-radius: 6px;
        border: 1px solid var(--Violet, #83F);
        font-size: 84px;
        line-height: 84px;
    }
    &__subtitle 
    {
        width: 1229px;
        margin-top: 85px;
        text-align: center;
        font-family: 'MergeOne';
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
    }
    // &__background
    // {
    //     display: inline-block;
    //     width: 411px;
    //     height: 64px;
    //     border-radius: 6px;
    //     margin-left: 10px;
    //     background: #99D2FD;
    //     transform: rotate(-1deg);
    // }
    &__background
    {
        position: relative;
        margin-left: 10px;
    }
    &__background-second 
    {
        position: relative;
        z-index: 2;
        display: inline-block;
        width: 195.101px;
        height: 64px;
        margin-left: 10px;
        transform: rotate(2deg);
        border-radius: 6px;
        background: #E38BBE;
    }
    &__background-third 
    {
        display: inline-block;
        width: 342.042px;
        height: 64px;
        transform: rotate(2deg);
        border-radius: 6px;
        background: #E38BBE;
    }
    // &__background-fourth
    // {
    //     display: inline-block;
    //     position: relative;
    //     width: 439px;
    //     height: 64px;
    //     border-radius: 6px;
    //     background: #C7FAA7;
    // }
    // &__subtitle-first
    // {
    //     display: inline-block;
    //     transform: rotate(1deg);
    // }
    &__background-fourth
    {
        position: relative;
        z-index: -1;
        margin-left: 10px;
    }
    &__subtitle-fourth:after 
    {
        content: '';
        position: absolute;
        width: 439px;
        height: 64px;
        border-radius: 6px;
        // background: #C7FAA7;
        background: url(../../../../assets/icons/Rectangle.svg);
        z-index: -1;
        left: -3px;
        top: -7px;
    }
    &__subtitle-first::after
    {
        content: '';
        position: absolute;
        width: 411px;
        height: 64px;
        border-radius: 6px;
        background: #99D2FD;
        transform: rotate(-1deg);
        left: -4px;
        z-index: -1;

    }
    &__subtitle-second, &__subtitle-third
    {
        display: inline-block;
        transform: rotate(-2deg);
    }
}
section
{
    height: 100vh;
}

.redirect 
{
    display: flex;
    // justify-content: center;
    width: 100vw;
    left: 50%;
    right: 50%;
    position: relative;
    transform: translateX(-50%);
    padding: 89px 0 100px 207px ;
    column-gap: 185px;
    &__cosmos 
    {
        // position: relative;
    }
    &__title 
    {
        width: 697px;
        font-family: 'Poppins';
        font-size: 72px;
        font-weight: 400;
        line-height: 80px;
        margin: 0;
        margin-bottom: 64px;
    }
    &__block-text 
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 519px;
        width: 747px;
        line-height: 40px;
        font-size: 32px;
        font-family: 'MergeOne';
        font-weight: 400;
    }
    &__circle-first 
    {
        position: relative;
        width: 730px;
        height: 730px;
        border: 1px dashed #C3C3C4;
        border-radius: 100%;
        svg [fill] 
        {
            fill: revert-layer !important;
        }
    }
    &__circle-second 
    {
        position: relative;
        top: 95px;
        left: 95px;
        width: 533px;
        height: 533px;
        border-radius: 100%;
        border: 1px dashed #C3C3C4;
        svg [fill] 
        {
            fill: revert-layer !important;
        }
    }
    &__circle-third 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 95px;
        left: 95px;
        width: 333px;
        height: 333px;
        border-radius: 100%;
        border: 1px dashed #C3C3C4;
        svg [fill] 
        {
            fill: revert-layer !important;
        }
    }
    &__circle-image 
    {
        width: 179px;
        height: 179px;

    }
    &__circle-fax 
    {
        position: absolute;
        top: 3px;
        right: -5px;
    }
    &__circle-phone
    {
        position: absolute;
        top: -8px;
        left: 20px;
    }
    &__circle-presentation
    {
        position: absolute;
        bottom: 2px;
        left: -13px;
    }
    &__circle-android 
    {
        position: absolute;
        bottom: -30px;
        right: 0;
    }
    &__circle-people 
    {
        position: absolute;
        top: 200px;
        left: -45px;
    }
    &__circle-megaphone 
    {
        position: absolute;
        bottom: -67px;
        right: 165px;
    }
    &__circle-ivr 
    {
        position: absolute;
        right: -60px;
        bottom: 135px;
    }
    &__circle-wrapper
    {
        position: absolute;
        top: -45px;
        right: 165px;
    }
    &__circle-support 
    {
        position: absolute;
        top: 0;
        left: 75px;
    }
    &__circle-voice 
    {
        position: absolute;
        top: 55px;
        right: 10px;
    }
    &__circle-api
    {
        position: absolute;
        top: 200px;
        left: -45px;
    }
    &__circle-call
    {
        position: absolute;
        top: 230px;
        right: -40px;
    }
    &__circle-document
    {
        position: absolute;
        bottom: 0px;
        right: 75px;
    }
    &__circle-incoming
    {
        position: absolute;
        bottom: -60px;
        left: 90px;
    }
    &__circle-target 
    {
        position: absolute;
        bottom: 110px;
        left: 0;
    }
}
