@import '../../../../common/variables/colors';

.countries
{
    width: 414px;
    height: 787px;
    position: relative;
    margin: 50px auto;
    overflow: hidden;
    padding: 24px 0 12px 0;
    border-radius: 12px;
    background: linear-gradient(180deg, #FCFCFF 0%, #EEF 100%);
    &__list
    {
        display:  grid;
        padding-top: 6px;
        max-height: 745px;
        overflow: auto;
        grid-template-columns: 116px 116px 116px;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
    }
    
    &__basket 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 62px;
        height: 62px;
        position: absolute;
        bottom: 21px;
        right: 9px;
        background: white;
        border-radius: 100%;
        border: 2.5px solid $color-light-violet;
        svg 
        {
            color: $color-light-violet;
        }
    }
    &__basket::before
    {
        content: attr(data-count);
        width: 21px;
        height: 21px;
        position: absolute;
        background: white;
        border-radius: 100%;
        border: 1.5px solid $color-light-violet;
        color: $color-light-violet;
        top: -10.5px;
        right: 6px;
        font-family: "NunitoSans";
        font-size: 14px;
        font-weight: 700;
        text-align: center;
    }
    &__basket.hidden-circle::before
    {
        content: none;
    }
}
::-webkit-scrollbar 
{ 
    display: none ; 
}
.country
{
    filter: drop-shadow(6px 6px 10px rgba(138, 99, 251, 0.10));

    &__card
    {
        height: 155px;
        padding: 10px;
        background: white;
        border-radius: 10px;
    }
    &__title 
    {
        font-family: 'Roboto';
        color: $color-dark;
        font-size: 18px;
        line-height: 18px;
        margin-top: 12px;
    }
    &__type-rooms
    {
        font-family: 'Roboto';
        font-weight: 300;
        margin-top: 6px;
        font-size: 15px;
        line-height: 18px;
        color: $color-light-grey;
    }
    &__buy
    {
        width: 96px;
        height: 30px;
        margin-top: 12px;
        color: white;
        font-size: 16px;
        font-family: 'NunitoSans';
        font-weight: 600;
        line-height: 18px;
        padding: 0;
        border: none;
        background-color: $color-light-violet;
        border-radius: 6px;
        cursor: pointer;
    }
    &__check-circle 
    {
        position: absolute;
        top: -3px;
        right: -3px;
        svg 
        {
            color: #7B76FF;
            fill: white;
        }
    }
}