@import '.././variables/colors'; 
.container 
{
    width: 1440px;
    margin: 0 auto; 
}
.wrap_e104._orientationLeft_e611._hoverMenu_e0d4.__jivoDesktopButton
{
    display: none;
}
#jcont
{
    left: 110px !important;
    bottom: 118px !important;
}
.main_c7ca
{
    border-radius: 10px !important;
}
.input_ee90.show_e0cc
{
    border-radius: 10px !important;
}
.input_f20a
{
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}
.LayerPage::after
{
    content: '';
    width: 808.473px;
    height: 826.156px;
    top: 300px;
    z-index: -1;
    border-radius: 610px;
    background: radial-gradient(circle, rgba(107, 78, 255, 0.17) 0%, 
                                        rgba(107, 78, 255, 0) 100%);
    transform: rotate(75.545deg);
    flex-shrink: 0;
    filter: blur(150px);
    position: absolute;
    
}
.LayerPage::before
{
    content: '';
    position: absolute;
    width: 886.731px;
    height: 864px;
    right: 0;
    top: 369px;
    background: radial-gradient(circle, rgba(255, 0, 123, 0.17) 0%, 
                                        rgba(255, 0, 123, 0) 100%);
    flex-shrink: 0;
    border-radius: 610px;  
    filter: blur(150px);
    z-index: -1;
}
.group-message
{
    content: '';
    position: absolute;
    cursor: pointer;
    width: 128px;
    height: 128px;
    left: 48px;
    bottom: 44px;
    border-radius: 100%;
    filter: drop-shadow(20px 15px 38px rgba(129, 79, 193, 0.40));
    background: radial-gradient(70.22% 70.22% at 41.44% 33.23%, #D8AEF9 0%,
            #D1A5F5 5%,
            #925BD4 47%,
            #7A3EC8 66%,
            #7D41CA 77%,
            #874CD0 86%,
            #975EDA 95%,
            #A66EE4 100%);
}
.group-message::before 
{
    content: '';
    position: absolute;
    width: 85px;
    height: 66px;
    top: 31px;
    left: 22px;
    background-image: url(../../assets/icons/message.svg);
    background-size: cover;
}

.group-message:hover
{
    width: 142px;
    height: 142px;
    transition-duration: 0.4s;
}
.group-message:hover::before 
{
    width: 94px;
    height: 73px;
    top: 34.39px;
    left: 24.41px;
    transition-duration: 0.4s;
}
.group-phone:hover
{
    width: 142px;
    height: 142px;
    transition-duration: 0.4s;
    right: 34px;
    bottom: 30px;
}
.group-phone
{
    content: '';
    position: absolute;
    // position: relative;
    cursor: pointer;
    width: 128px;
    height: 128px;
    // top: -211px;
    // right: -1750px;
    right: 48px;
    bottom: 44px;
    border-radius: 100%;
    filter: drop-shadow(20px 15px 38px rgba(129, 79, 193, 0.40));
    background: radial-gradient(70.22% 70.22% at 41.44% 33.23%, #D8AEF9 0%,
            #D1A5F5 5%,
            #925BD4 47%,
            #7A3EC8 66%,
            #7D41CA 77%,
            #874CD0 86%,
            #975EDA 95%,
            #A66EE4 100%);
    transition-duration: 0.4s;

}
.group-circle
{
    position: relative;
    display: block;
    pointer-events: none;
    width: 300px;
    height: 300px;
    top: -164px;
    z-index: 1;
    right: 172px;
   
}
.group-phone:hover .group-circle 
{
    pointer-events: auto;
    transition-duration: 0.4s;
}
.group-circle:hover .group-telegram
{   
    opacity: 1;
    transition-delay:  0s;
}
.group-circle:hover .group-support
{
    opacity: 1;
    transition-delay: 0.5s;
}
.group-circle:hover .group-descktop
{
    opacity: 1;
    transition-delay:  1s;
}
.group-phone::after
{
    content: '';
    position: absolute;
    width: 84px;
    height: 88px;
    top: 18.5px;
    left: 24px;
    background-image: url(../../assets/icons/phone.svg);
    transition-duration: 0.4s;
    background-size: cover;
}
.group-phone:hover:after 
{
    width: 93px;
    height: 98px;
    top: 21.63px;
    left: 24.44px;
    transition-duration: 0.4s;
}

.group-telegram, .group-support, .group-descktop
{
    display: block;
    opacity: 0;
    position: absolute;
    width: 77px;
    height: 77px;
    border-radius: 100%;
    filter: drop-shadow(20px 15px 38px rgba(129, 79, 193, 0.40));
    background: radial-gradient(70.22% 70.22% at 41.44% 33.23%, #D8AEF9 0%,
            #D1A5F5 5%,
            #925BD4 47%,
            #7A3EC8 66%,
            #7D41CA 77%,
            #874CD0 86%,
            #975EDA 95%,
            #A66EE4 100%);
    transition-duration: 0.4s;
}
.group-telegram 
{
    top: 65px;
    right: 30px;
    svg 
    {
        position: absolute;
        top: 16px;
        left: 14px;
        color: $color-white;
    }
}
.group-support
{
    top: 120px;
    right: 125px;
    svg 
    {
        position: absolute;
        top: 16px;
        left: 16px;
        color: $color-white;
    }
}
.group-descktop
{
    bottom: 10px;
    right: 163px;
    svg
    {
        position: absolute;
        top: 16px;
        left: 16px;
        color: $color-white;
    }
}
