@import '.././variables/colors'; 
.container 
{
    width: 1440px;
    margin: 0 auto; 
}
.wrap_e104._orientationLeft_e611._hoverMenu_e0d4.__jivoDesktopButton
{
    display: none;
}
#jcont
{
    left: 110px !important;
    bottom: 118px !important;
}
.main_c7ca
{
    border-radius: 10px !important;
}
.input_ee90.show_e0cc
{
    border-radius: 10px !important;
}
.input_f20a
{
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}
.asw-menu-header div[role=button]
{
    padding: 5px 5px 2px 5px !important;
}
.asw-card .asw-minus:hover, 
.asw-card .asw-plus:hover
{
    border-color: #ADABFF !important;
}
.asw-widget 
{
    svg *[fill]
    {
        fill: revert-layer;
    }
}
.asw-widget  .asw-menu-btn
{
    position: absolute;
    width: 64px !important;
    height: 64px !important;
    background: #ADABFF url(../../assets/icons/human.svg) no-repeat !important;
    outline: none !important;
    border: none !important;
    background-position: center !important;
    top: 488px;
    right: 0;
    left: initial !important;
    border-radius: 50px 0 0 50px;
    svg 
    {
        display: none;
    }
}
.asw-menu .asw-menu-header 
{
    background-color: #ADABFF !important;
}
.asw-footer
{
    display: none !important; 
}
.asw-items .asw-btn:hover 
{
    border-color: #ADABFF !important;
}
.asw-items .asw-btn.asw-selected
{
    border-color: #ADABFF !important;
}
.asw-items .asw-btn.asw-selected span, 
.asw-items .asw-btn.asw-selected svg,
.asw-menu .asw-menu-header svg
{
    fill: #ADABFF !important;
    color: #ADABFF !important;
}
.asw-items .asw-btn.asw-selected:after
{
    background-color: #ADABFF !important;
}
// .asw-menu-header svg
.asw-menu .asw-menu-content
{
    padding: 0 !important;
    padding-top: 30px !important;
    overflow: auto !important;
}

.LayerPage::after
{
    content: '';
    width: 808.473px;
    height: 826.156px;
    top: 300px;
    z-index: -1;
    border-radius: 610px;
    background: radial-gradient(circle, rgba(107, 78, 255, 0.17) 0%, 
                                        rgba(107, 78, 255, 0) 100%);
    transform: rotate(75.545deg);
    flex-shrink: 0;
    filter: blur(150px);
    position: absolute;
    
}
.LayerPage::before
{
    content: '';
    position: absolute;
    width: 886.731px;
    height: 864px;
    right: 0;
    top: 369px;
    background: radial-gradient(circle, rgba(255, 0, 123, 0.17) 0%, 
                                        rgba(255, 0, 123, 0) 100%);
    flex-shrink: 0;
    border-radius: 610px;  
    filter: blur(150px);
    z-index: -1;
}
.group-message
{
    content: '';
    position: absolute;
    cursor: pointer;
    width: 128px;
    height: 128px;
    left: 48px;
    bottom: 44px;
    border-radius: 100%;
    filter: drop-shadow(20px 15px 38px rgba(129, 79, 193, 0.40));
    background: radial-gradient(70.22% 70.22% at 41.44% 33.23%, #D8AEF9 0%,
            #D1A5F5 5%,
            #925BD4 47%,
            #7A3EC8 66%,
            #7D41CA 77%,
            #874CD0 86%,
            #975EDA 95%,
            #A66EE4 100%);
}
.group-message::before 
{
    content: '';
    position: absolute;
    width: 85px;
    height: 66px;
    top: 31px;
    left: 22px;
    background-image: url(../../assets/icons/message.svg);
    background-size: cover;
}

.group-message:hover
{
    width: 142px;
    height: 142px;
    transition-duration: 0.4s;
}
.group-message:hover::before 
{
    width: 94px;
    height: 73px;
    top: 34.39px;
    left: 24.41px;
    transition-duration: 0.4s;
}
.group-phone:hover
{
    width: 142px;
    height: 142px;
    transition-duration: 0.4s;
    right: 34px;
    bottom: 30px;
}
.group-phone
{
    content: '';
    position: absolute;
    cursor: pointer;
    width: 128px;
    height: 128px;
    right: 48px;
    bottom: 44px;
    border-radius: 100%;
    filter: drop-shadow(20px 15px 38px rgba(129, 79, 193, 0.40));
    background: radial-gradient(70.22% 70.22% at 41.44% 33.23%, #D8AEF9 0%,
            #D1A5F5 5%,
            #925BD4 47%,
            #7A3EC8 66%,
            #7D41CA 77%,
            #874CD0 86%,
            #975EDA 95%,
            #A66EE4 100%);
    transition-duration: 0.4s;

}
.group-circle
{
    position: relative;
    display: block;
    pointer-events: none;
    width: 300px;
    height: 300px;
    top: -164px;
    z-index: 1;
    right: 172px;
   
}
.group-phone:hover .group-circle 
{
    pointer-events: auto;
    transition-duration: 0.4s;
}
.group-circle:hover .group-telegram
{   
    opacity: 1;
    transition-delay:  0s;
}
.group-circle:hover .group-support
{
    opacity: 1;
    transition-delay: 0.5s;
}
.group-circle:hover .group-descktop
{
    opacity: 1;
    transition-delay:  1s;
}
.group-phone::after
{
    content: '';
    position: absolute;
    width: 84px;
    height: 88px;
    top: 18.5px;
    left: 24px;
    background-image: url(../../assets/icons/phone.svg);
    transition-duration: 0.4s;
    background-size: cover;
}
.group-phone:hover:after 
{
    width: 93px;
    height: 98px;
    top: 21.63px;
    left: 24.44px;
    transition-duration: 0.4s;
}

.group-telegram, .group-support, .group-descktop
{
    display: block;
    opacity: 0;
    position: absolute;
    width: 77px;
    height: 77px;
    border-radius: 100%;
    filter: drop-shadow(20px 15px 38px rgba(129, 79, 193, 0.40));
    background: radial-gradient(70.22% 70.22% at 41.44% 33.23%, #D8AEF9 0%,
            #D1A5F5 5%,
            #925BD4 47%,
            #7A3EC8 66%,
            #7D41CA 77%,
            #874CD0 86%,
            #975EDA 95%,
            #A66EE4 100%);
    transition-duration: 0.4s;
}
.group-telegram 
{
    top: 65px;
    right: 30px;
    svg 
    {
        position: absolute;
        top: 16px;
        left: 14px;
        color: $color-white;
    }
}
.group-support
{
    top: 120px;
    right: 125px;
    svg 
    {
        position: absolute;
        top: 16px;
        left: 16px;
        color: $color-white;
    }
}
.group-descktop
{
    bottom: 10px;
    right: 163px;
    svg
    {
        position: absolute;
        top: 16px;
        left: 16px;
        color: $color-white;
    }
}



[telegram-tooltip]:before,
[telegram-tooltip]::after
{
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";  
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    pointer-events: none;
}
[support-tooltip]:before,
[support-tooltip]::after
{
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";  
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    pointer-events: none;
}

[telegram-tooltip]:before 
{
    position: absolute;
    bottom: 80%;
    left: 76%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 6px;
    background-color: white;
    border: 1px solid #ADABFF;
    color: #252422;
    font-family: 'NunitoSans';
    content: attr(telegram-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}
[telegram-tooltip]:after 
{
    position: absolute;
    bottom: 80%;
    left: 76%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #ADABFF;;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;

}
[support-tooltip]:before 
{
    position: absolute;
    bottom: 60%;
    left: 45%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 6px;
    background-color: white;
    border: 1px solid #ADABFF;
    color: #252422;
    font-family: 'NunitoSans';
    content: attr(support-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}
[support-tooltip]:after 
{
    position: absolute;
    bottom: 60%;
    left: 45%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #ADABFF;;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;

}
[telegram-tooltip]:hover:before,
[telegram-tooltip]:hover:after 
{
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: 'progid: DXImageTransform.Microsoft.Alpha(Opacity=100)';
  opacity: 1;
}
[support-tooltip]:hover:before,
[support-tooltip]:hover:after 
{
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: 'progid: DXImageTransform.Microsoft.Alpha(Opacity=100)';
  opacity: 1;
}