
$reds: red;
$color-violet: #8833FF;
$color-light-purple: #BF90FF;
$color-royal-blue: #6953D3;
$color-white: #FDFEFF;
$color-dark: #252422;
$color-light-violet: #7B76FF;
$color-blue-violet: linear-gradient(90deg, #6953D3 20.79%, #8566F1 49.93%, #A14EEE 77.53%);