@import '../../../../common/variables/colors';
.card
{
    display: flex;
    column-gap: 98px;
    margin-top: 65px;
    path 
    {
        fill: revert-layer;
    }
    &__voip, &__apps, &__cloud, &__service
    {
        filter: drop-shadow(6px 7px 12px rgba(0, 0, 0, 0.15));
    }
    &__wrapper-rotate
    {
        position: relative;
        transition-duration: 0.4s;
    }
    .name-card
    {
        font-size: 36px;
        font-family: 'Inter';
        line-height: 60px;
        color: $color-white;
        position: absolute;
    }
    &__voip 
    {
        width: 271px;
        margin-left: 35px;
        .button
        {
            position: absolute;
            left: 50px;
            top: 15px;
        }
        .name-card
        {
            transform: rotate(19deg);
            top: 102px;
            left: 96px;
        }
    }
    &__voip:hover 
    {
        .card__wrapper-rotate
        {
                transform: rotate(25deg) translateX(-40px) translateY(30px);
                transition-duration: 0.4s;
        }
    }
    &__wrapped
    {
        position: absolute;
        bottom: 30px;
        left: 0;
    }
    &__apps
    {
        position: relative;
        .button
        {
            position: absolute;
            top: 10px;
            left: 90px;
        }
        .name-card
        {
            top: 100px;
            left: 96px;
            transform: rotate(-17deg);
        }
        &__wrapper-rotate
        {
            transition-duration: 0.4s;
        }
    }
    &__apps:hover
    {
         .card__wrapper-rotate
         {
            transform: rotate(16deg) translateX(-20px) translateY(10px);
            transition-duration: 0.4s;
         }
    }
    &__wrapped-apps
    {
        position: absolute;
        left: 38px;
        bottom: 6px;
    }
    &__cloud 
    {
        position: relative;
        .button
        {
            position: absolute;
            top: 20px;
            right: 90px;
        }
        .name-card 
        {
            top: 100px;
            left: 75px;
            transform: rotate(9.44deg);
        }
    }
    &__cloud:hover 
    {
        .card__wrapper-rotate
        {
            transform: rotate(-8deg) translateX(10px) translateY(0);
        }
    }
    &__wrapped-cloud
    {
        position: absolute;
        left: 0;
        bottom: 17px;
    }
    &__service
    {
        position: relative;
        .button 
        {
            position: absolute;
            top: 10px;
            right: 80px;
        }
        .name-card 
        {
            top: 110px;
            left: 60px;
            transform: rotate(-27.14deg);
        }
    }
    &__service:hover
    {
        .card__wrapper-rotate
        {
            transform: rotate(-21deg) translateX(31px) translateY(21px);
        }
    }
    &__wrapped-service
    {
        position: absolute;
        left: 56px;
        bottom: 6px;
    }
}